@import '../styles';

.title {
    font-family: $fontFamily;
    color: $primaryFontColor;
    letter-spacing: 3px;
    font-size: 4em;
    margin-top: 0;
}

.container{
    min-height: 90vh;
}

.displayReadme {
    padding: 5%;
    background: #5d5d63;
    border-radius: 20px;
    margin: 0 9%;
    font-family: $fontFamily;
    color: $primaryFontColor;
    text-align: left;
    white-space: pre;
}

.displayReadme h2 {
    font-size: 2.5em;
    text-align: center;
}

app-barre-footer{
    color: $primaryFontColor;
    height: 10vh;
    text-align: center;
    font-family: $fontFamily;
}

